* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
}

p {
  margin-bottom: $space;
}

a {
  color: $brand-primary;
}

// input[type='text'],
// input[type='email'],
// input[type='password'] {
//   font-size: $base-font-size;
//   padding: $input-spacing;
//   margin-bottom: $space;
//   border: 1px solid $input-border;
// }
