// Colors
$brand-primary: #389cca;
$brand-secondary: #173349;

$button-primary: #2185d0;

$gray: #ddd;
$light-gray: #f8f8f8;
$dark-gray: #777;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font Sizes
$base-font-size: 1.4rem;
$sm-font-size: 1.2rem;
$lg-font-size: 1.8rem;

// Form Inputs
$input-border: $gray;
$input-spacing: 1rem;

// Item
$item-bg: $light-gray;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-gray;
